<button type="button" class="btn ag-grid-action-icon" (click)="onEdit()" title="Edit"><i class="fa fa-edit text-warning"></i></button>
<button type="button" class="btn ag-grid-action-icon" (click)="onViewRates()" title="Rates"><i class="fa fa-dollar text-success"></i></button>
<button type="button" class="btn ag-grid-action-icon" (click)="onViewHistory()" title="Project history"><i class="fa fa-history text-info"></i></button>
<button type="button" class="btn ag-grid-action-icon" (click)="onDelete()" title="Project history"><i class="fa fa-trash text-danger"></i></button>
