<div class="animated fadeIn">
  <div class="row">
    <div class="col-sm-12">
      <div class="card w100 rounded-0 mb-0">
        <div class="card-header">
          <div class="d-inline-block"><h6>Invoices</h6></div>
          <!--TABS-->
          <div class="btn-group pull-right mr-2" role="group">
            <button type="button" class="btn btn-sm btn-secondary" [class.bg-primary]="activedTab === 'NOT_CONFIRMED'" (click)="onClickTab('NOT_CONFIRMED')">
              <i class="fa fa-refresh"></i> Not Confirmed
            </button>
            <button type="button" class="btn btn-sm btn-secondary" [class.bg-primary]="activedTab === 'CONFIRMED'" (click)="onClickTab('CONFIRMED')">
              <i class="fa fa-check"></i> Confirmed
            </button>
          </div>
        </div>
        <div class="card-body p-0">
          <ag-grid-angular
            #agGrid
            id="myGrid"
            class="ag-theme-balham ag-grid-custom haft"
            [context]="context"
            [frameworkComponents]="frameworkComponents"
            [columnDefs]="columnDefs"
            [defaultColDef]="defaultColDef"
            [columnTypes]="columnTypes"
            [rowData]="modelList"
            [animateRows]="true"
            [sortingOrder]="sortingOrder"
            [floatingFilter]="false"
            (gridReady)="onGridReady($event)"
            (filterChanged)="onGridFilterChange($event)"
            (sortChanged)="onGridSortChanged($event)"
          ></ag-grid-angular>
        </div>
        <div class="card-footer">
          <span> Total: {{modelList.length}}</span>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <h5>Do you want to delete this Invoice?</h5>
    <button type="button" class="btn btn-danger ml-1 mr-1" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-primary ml-1 mr-1" (click)="decline()">No</button>
  </div>
</ng-template>
<ng-template #template2>
  <div class="modal-body text-center">
    <h5>Do you want to
      <span *ngIf="confirmValue">confirm</span>
      <span *ngIf="!confirmValue">un-confirm</span>
      this Invoice?</h5>
    <button type="button" class="btn btn-danger ml-1 mr-1" (click)="confirmInvoice()">Yes</button>
    <button type="button" class="btn btn-primary ml-1 mr-1" (click)="declineInvoice()">No</button>
  </div>
</ng-template>
