<div class="btn-group btn-group-sm" dropdown container="body">
  <button dropdownToggle type="button" class="pt-0 pb-0 btn btn-sm btn-ghost-primary dropdown-toggle">
    Action <span class="caret"></span>
  </button>
  <ul *dropdownMenu class="dropdown-menu" role="menu">
    <li role="menuitem"><a class="dropdown-item sm cursor-pointer" (click)="onEdit()">Edit</a></li>
    <li role="menuitem"><a class="dropdown-item sm cursor-pointer" (click)="onViewHistory()">Project history</a></li>
  </ul>
</div>
