<div class="row assignment-container">
  <div class="col-sm-12">
    <div class="card mb-1">
      <div class="card-body p-1" [ngClass]="{'new-pro-assignment': !assignment || !assignment.id}">
        <fieldset [disabled]="!viewControl.ableToChange">
          <form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="d-flex">
              <div class="d-flex flex-grow-1 justify-content-between">
                <div class="d-flex form-left">
                  <!--RESOURCE-->
                  <div class="form-group w80">
                    <label for="candidate">Resource<span class="text-danger"> *</span></label>
                    <input type="text" class=" form-control form-control-sm" id="candidate" name="candidate"
                           placeholder="Code"
                           required maxlength="127"
                           [(ngModel)]="model.candidateCode"
                           #candidate="ngModel"
                           [ngClass]="{'is-invalid': f.submitted && candidate.invalid}">
                    <div *ngIf="candidate.invalid && (candidate.dirty || candidate.touched)" class="msg-invalid">
                      <div *ngIf="candidate.errors.maxlength">Too long.</div>
                      <div *ngIf="candidate.errors.conflict">Duplicated.</div>
                    </div>
                  </div>
                  <!--TASK-->
                  <div class="form-group mw110">
                    <label for="task">Task<span class="text-danger"> *</span></label>
                    <ng-select [(ngModel)]="model.task" [searchable]="false" [clearable]="false" name="task" id="task"
                               #task="ngModel" class="sm"
                               required [disabled]="!viewControl.ableToChange"
                               [ngClass]="{'is-invalid': f.submitted && task.invalid}">
                      <ng-option [value]="'All'">All</ng-option>
                      <ng-option [value]="'DTP'">DTP</ng-option>
                      <ng-option [value]="'Translation'">Translation</ng-option>
                      <ng-option [value]="'Editing'">Editing</ng-option>
                      <ng-option [value]="'Proofreading'">Proofreading</ng-option>
                    </ng-select>
                    <div *ngIf="task.invalid && (task.dirty || task.touched)" class="msg-invalid">
                      <div *ngIf="task.errors.conflict">Duplicated.</div>
                    </div>
                  </div>
                  <!--SOURCE-->
                  <div class="form-group w50">
                    <label for="source">Source<span class="text-danger"> *</span></label>
                    <input type="text" class=" form-control form-control-sm" id="source" name="source"
                           required maxlength="127"
                           [(ngModel)]="model.source"
                           #source="ngModel"
                           [ngClass]="{'is-invalid': f.submitted && source.invalid}">
                    <div *ngIf="source.invalid && (source.dirty || source.touched)" class="msg-invalid">
                      <div *ngIf="source.errors.maxlength">Too long.</div>
                      <div *ngIf="source.errors.conflict">Duplicated.</div>
                    </div>
                  </div>
                  <!--TARGET-->
                  <div class="form-group w50">
                    <label for="target">Target<span class="text-danger"> *</span></label>
                    <input type="text" class=" form-control form-control-sm" id="target" name="target"
                           required maxlength="127"
                           [(ngModel)]="model.target"
                           #target="ngModel"
                           [ngClass]="{'is-invalid': f.submitted && target.invalid}">
                    <div *ngIf="target.invalid && (target.dirty || target.touched)" class="msg-invalid">
                      <div *ngIf="target.errors.maxlength">Too long.</div>
                      <div *ngIf="target.errors.conflict">Duplicated.</div>
                    </div>
                  </div>
                  <!--TOTAL-->
                  <div class="form-group w80">
                    <label for="total">Total<span class="text-danger"> *</span></label>
                    <input type="number" class=" form-control form-control-sm" id="total" name="total"
                           required
                           [(ngModel)]="model.total"
                           #total="ngModel"
                           [ngClass]="{'is-invalid': f.submitted && total.invalid}">
                    <div *ngIf="total.invalid && (total.dirty || total.touched)" class="msg-invalid">
                      <div *ngIf="total.errors.maxlength">Too long.</div>
                    </div>
                  </div>
                  <!--Request date-->
                  <div class="form-group date">
                    <label for="ho">HO<span class="text-danger"> *</span></label>
                    <input type="date" class=" form-control form-control-sm" required id="ho" name="ho" [(ngModel)]="model.ho">
                  </div>
                  <!--Request date-->
                  <div class="form-group date">
                    <label for="hb">HB<span class="text-danger"> *</span></label>
                    <input type="date" class=" form-control form-control-sm" required id="hb" name="hb" [(ngModel)]="model.hb">
                  </div>
                  <!--ASSIGN BTN-->
                  <div class="form-group w80">
                    <label><span class="invisible">.</span></label>
                    <div>
                      <button type="submit" class="btn btn-sm btn-primary text-nowrap" [disabled]="f.invalid">Assign <i class="fa fa-arrow-right"></i></button>
                    </div>
                  </div>
                </div>

                <div class="d-flex mr-5" *ngIf="assignment && assignment.id">
                  <!--STATUS-->
                  <div class="media mr-2" *ngIf="assignment && assignment.candidate">
                    <div class="media-body">
                      <H6 class="mt-0 mb-1 text-primary" title="{{assignment.candidate.name}}">{{assignment.candidate.name | lmTo: 20}}</H6>
                      <!--STATUS-->
                      <div class="btn-group btn-group-sm mt-1 pull-right" dropdown>
                        <button type="button" class="btn btn-sm text-nowrap"
                                [class.btn-dark]="assignment.status === 'NOT_CONFIRMED'"
                                [class.btn-success]="assignment.status === 'CONFIRMED'">
                          {{assignment.status | assignmentStatus}}
                        </button>
                        <button type="button" dropdownToggle class="btn dropdown-toggle dropdown-toggle-split"
                                [class.btn-dark]="assignment.status === 'NOT_CONFIRMED'"
                                [class.btn-success]="assignment.status === 'CONFIRMED'">
                          <span class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu" role="menu">
                          <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onChangeConfirmStatus('NOT_CONFIRMED')">Not confirmed</a></li>
                          <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onChangeConfirmStatus('CONFIRMED')">Confirmed</a></li>
                        </ul>
                      </div>
                    </div>
                    <!--AVATAR-->
                    <!--<img *ngIf="assignment.candidate.avatar" class="mr-3" [src]="assignment.candidate.avatar" alt="Avatar" width="40" height="40">-->
                    <!--<img *ngIf="!assignment.candidate.avatar" class="mr-3" src="assets/img/avatars/default_avatar.png" alt="Avatar" width="40" height="40">-->
                  </div>
                  <!--PROGRESS-->
                  <div class="form-group ml-2 mb-0">
                    <label>Progress</label>
                    <div>
                      <div class="btn-group btn-group-sm" dropdown placement="bottom right">
                        <button type="button" class="btn btn-sm text-nowrap"
                                [class.btn-dark]="assignment.progress === 'NOT_START'"
                                [class.btn-warning]="assignment.progress === 'ON_GOING'"
                                [class.btn-success]="assignment.progress === 'FINISHED'">
                          {{assignment.progress | progress}}
                        </button>
                        <button type="button" dropdownToggle class="btn dropdown-toggle dropdown-toggle-split"
                                [class.btn-dark]="assignment.progress === 'NOT_START'"
                                [class.btn-warning]="assignment.progress === 'ON_GOING'"
                                [class.btn-success]="assignment.progress === 'FINISHED'">
                          <span class="caret"></span>
                        </button>
                        <ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">
                          <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onChangeProgress('NOT_START')">Not start</a></li>
                          <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onChangeProgress('ON_GOING')">On going</a></li>
                          <li role="menuitem"><a class="dropdown-item cursor-pointer" (click)="onChangeProgress('FINISHED')">Finished</a></li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <!--RATE-->
              <div class="right-actions">
                <button type="button" class="btn-ghost-secondary" (click)="onDeleteResource()">
                  <i class="fa fa-trash-o text-danger"></i></button>
                <div class="cursor-pointer d-flex justify-content-end" *ngIf="assignment.progress === 'FINISHED'" (click)="openNewGeneralCommentModal()">
                  <button type="button" class="btn btn-ghost-primary btn-sm p-0" *ngIf="!assignment.star">Evaluate</button>
                  <ng-container *ngIf="assignment.star && assignment.star > 0">
                    <span>{{assignment.star}} <i class="fa fa-star text-warning"></i></span>
                  </ng-container>
                </div>
              </div>
            </div>
          </form>

        </fieldset>
      </div>
    </div>
  </div>
</div>
