.new-pro-assignment {
  box-shadow: 0 0 0 0.2rem #4dbd7491;
}

textarea {
  max-height: 150px;
}

.assignment-container .form-left .form-group {
  padding-left: 1px;
  padding-right: 1px;
  margin-bottom: 0 !important;
}

.assignment-container .form-left .form-group:not(.date) {
  width: 110px;
}

.assignment-container .form-left .form-group.date {
  width: 130px;
}
