.new-pro-assignment {
  box-shadow: 0 0 0 0.2rem #4dbd7491;
}

textarea {
  max-height: 150px;
}

.assignment-container .form-group.form-left {
  padding-left: 1px;
  padding-right: 1px;
}

.assignment-container .form-group.form-left:not(.date) {
  width: 110px;
}

.assignment-container .form-group.form-left.date {
  width: 130px;
}
