.po-header {

}

.img-po-header {
  width: 70%;
}

.po-content {
  font-weight: bold;
}

.po-title {
  font-size: 3rem;
}

.po-table {
  border-color: black;
  th {
    white-space: nowrap;
    color: white;
    font-weight: initial;
    background-color: #2062d8;
    text-align: center;
  }
  tbody {
    td {
      vertical-align: middle;
    }
  }

}

.mw1000 {
  min-width: 1000px;
}

.po-container {
  min-width: 1000px;
  overflow-x: auto;
}

.rep, .wrep {
  text-align: center;
}
