.multiple-row .list-group-item {
  border: 0;
  padding: 0;
  background-color: inherit;
}

.multiple-row .li-divider {
  border-bottom: 1px solid #d1dbe1;
  height: 2px;
}

.list-group-item:last-child {
  margin-bottom: 1px;
}
.ag-theme-balham .ag-cell{

}
