<div class="modal-header">
  <h4 class="modal-title pull-left">{{title}}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>

<div class="modal-body">
  <div class="alert alert-danger" *ngIf="noResult">No Results Found</div>
  <div class="media mb-2" *ngIf="selectedOption">
    <img *ngIf="selectedOption.avatar" class="mr-3" [src]="model.avatar" alt="Avatar" width="{{AVATAR_SIZE_MEDIUM}}" height="{{AVATAR_SIZE_MEDIUM}}">
    <img *ngIf="!selectedOption.avatar" class="mr-3" src="assets/img/avatars/default_avatar.png" alt="Avatar" width="{{AVATAR_SIZE_MEDIUM}}" height="{{AVATAR_SIZE_MEDIUM}}">
    <div class="media-body">
      <h4>{{selectedOption.username}}</h4>
      <div class="mt-0">{{selectedOption.name}} ({{selectedOption.code}})</div>
      <div class="mt-0">{{selectedOption.email}}</div>
    </div>
  </div>

  <input [(ngModel)]="asyncSelected"
         [typeaheadAsync]="true"
         [typeahead]="dataSource"
         (typeaheadLoading)="changeTypeaheadLoading($event)"
         (typeaheadOnSelect)="typeaheadOnSelect($event)"
         [typeaheadOptionsLimit]="10"
         typeaheadOptionField="username"
         typeaheadWaitMs="500"
         (typeaheadNoResults)="typeaheadNoResults($event)"
         (typeaheadOnSelect)="onSelect($event)"
         [typeaheadItemTemplate]="customItemTemplate"
         [typeaheadScrollable]="true"
         [typeaheadSelectFirstItem]="true"
         placeholder="Enter username"
         class="form-control"
         appAutoFocus>
  <div *ngIf="typeaheadLoading">Searching...</div>
</div>

<div class="modal-footer">
  <button type="button" class="btn btn-default" (click)="onCancel()">{{closeBtnName}}</button>
  <button type="button" class="btn btn-primary" (click)="onConfirm()">OK</button>
</div>

<ng-template #customItemTemplate let-model="item" let-index="index">
  <div class="media">
    <img *ngIf="model.avatar" class="mr-3" [src]="model.avatar" alt="Avatar" width="{{AVATAR_SIZE_SLIM}}" height="{{AVATAR_SIZE_SLIM}}">
    <img *ngIf="!model.avatar" class="mr-3" src="assets/img/avatars/default_avatar.png" alt="Avatar" width="{{AVATAR_SIZE_SLIM}}" height="{{AVATAR_SIZE_SLIM}}">
    <div class="media-body">
      <h6>{{model.username}}</h6>
      <span class="mt-0">{{model.name}} ({{model.code}})</span>
    </div>
  </div>
</ng-template>
