.ag-row-hover {
  /* putting in !important so it overrides the theme's styling as it hovers the row also */
  background-color: #F0F8FF !important;
}

.ag-column-hover {
  background-color: #F0F8FF;
}

/* enable basic browser text selection in grid cells */
div.ag-root .ag-cell-focus {
  -webkit-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
}

.wrap-text {
  white-space: normal;
  max-height: 300px;
}
