ul.timeline {
  list-style-type: none;
  position: relative;
}

ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}

ul.timeline > li {
  margin: 10px 0;
  padding-left: 20px;
}

ul.timeline > li:before {
  content: ' ';
  background-color: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 2px solid #d4d9df;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

ul.timeline > li.active-timeline:before {
  width: 20px;
  height: 20px;
  border: 0;
  background: white url("./../assets/icon/check-circle.png") no-repeat;
  background-size: 20px 20px;
}
