<div class="animated fadeIn">

  <ul class="nav nav-tabs  mb-1">
    <li class="nav-item">
      <a routerLink="/resources/edit/{{candidateId}}" class="nav-link"><i class="fa fa-info text-info"></i> Info</a>
    </li>
    <li class="nav-item" *ngIf="candidateId && candidateId>0">
      <a class="nav-link" routerLink="/resources/{{candidateId}}/abilities"><i class="fa fa-dollar text-success"></i> Rate Info</a>
    </li>
    <li class="nav-item">
      <a class="nav-link active"><i class="fa fa-history text-primary"></i> Project history</a>
    </li>
  </ul>

  <div class="animated fadeIn">
    <div class="row">
      <!--<div class="col-sm-12">-->
        <!--<div class="card mb-1">-->
          <!--<div class="card-body toolbar">-->
            <!--&lt;!&ndash;FILTER&ndash;&gt;-->
            <!--<div class="btn-group pull-right" dropdown placement="bottom right">-->
              <!--<button dropdownToggle type="button" class="btn btn-outline-secondary ml-1 dropdown-toggle"><i class="fa fa-cog"></i></button>-->
              <!--<ul *dropdownMenu class="dropdown-menu dropdown-menu-right" role="menu">-->
                <!--<li role="menuitem">-->
                  <!--<a class="dropdown-item">-->
                    <!--<div class="form-check">-->
                      <!--<input class="form-check-input" type="checkbox" value="option1" id="checkbox1"-->
                             <!--[(ngModel)]="showOtherAbility" (change)="onToggleShowOtherAbility()">-->
                      <!--<label class="form-check-label" for="checkbox1">-->
                        <!--Show other task in model when filtering-->
                      <!--</label>-->
                    <!--</div>-->
                  <!--</a>-->
                <!--</li>-->
              <!--</ul>-->
            <!--</div>-->
            <!--&lt;!&ndash;SEARCH&ndash;&gt;-->
            <!--<div class="d-inline-block pull-right">-->
              <!--<div class="input-prepend input-group">-->
                <!--<div class="input-group-prepend">-->
                  <!--<span class="input-group-text cursor-pointer" (click)="onClickSearch()"><i class="fa fa-search"></i></span>-->
                <!--</div>-->
                <!--<input id="prependedInput" class="form-control custom-search-input" size="16" type="text"-->
                       <!--placeholder="Search" (keydown.enter)="onClickSearch()" [(ngModel)]="keyWord">-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->

      <div class="col-sm-12">
        <div class="card w100 rounded-0">
          <div class="card-body">
            <ag-grid-angular
              #agGrid
              id="myGrid"
              class="ag-theme-balham ag-grid-custom"
              [context]="context"
              [frameworkComponents]="frameworkComponents"
              [columnDefs]="columnDefs"
              [defaultColDef]="defaultColDef"
              [columnTypes]="columnTypes"
              [rowData]="modelList"
              [animateRows]="true"
              [sortingOrder]="sortingOrder"
              [floatingFilter]="true"
              (gridReady)="onGridReady($event)"
              (filterChanged)="onGridFilterChange($event)"
              (sortChanged)="onGridSortChanged($event)"
            ></ag-grid-angular>
          </div>
          <div class="card-footer">
            <span> Total: {{totalItems}}</span>
            <div class="pull-right">
              <pagination [totalItems]="totalItems" class="pagination" *ngIf="totalItems>0"
                          [(ngModel)]="page"
                          [maxSize]="5"
                          [itemsPerPage]="size"
                          (pageChanged)="pageChanged()"
                          previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                          [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event">
              </pagination>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
