<div class="animated fadeIn">
  <div class="row">
    <div class="card w100">
      <div class="card-body">
        <ag-grid-angular
          style="width: 100%; height: calc(100vh - 150px);"
          class="ag-theme-balham"
          [rowData]="modelList"
          [columnDefs]="columnDefs"
        >
        </ag-grid-angular>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="card mb-1">
        <div class="card-body toolbar">
          <!--NEW-->
          <a class="btn btn-sm btn-success" routerLink="/projects/new"> <i class="fa fa-plus"></i> New Project</a>
          <!--SEARCH-->
          <div class="d-inline-block pull-right">
            <div class="input-prepend input-group">
              <div class="input-group-prepend">
                <span class="input-group-text cursor-pointer" (click)="onClickSearch()"><i class="fa fa-search"></i></span>
              </div>
              <input id="prependedInput" class="form-control form-control-sm custom-search-input" size="16" type="text"
                     placeholder="Search" (keydown.enter)="onClickSearch()" [(ngModel)]="keyWord">
            </div>
          </div>
          <!--TABS-->
          <div class="btn-group pull-right mr-2" role="group">
            <button type="button" class="btn btn-sm btn-secondary" [class.bg-primary]="activedTab === 'ON_GOING'" (click)="onClickTab('ON_GOING')">
              <i class="fa fa-refresh"></i> On Going
            </button>
            <button type="button" class="btn btn-sm btn-secondary" [class.bg-primary]="activedTab === 'FINISHED'" (click)="onClickTab('FINISHED')">
              <i class="fa fa-check"></i> Finished
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-12">
      <div class="card">
        <div class="card-body">
          <div class="table-responsive mh350">
            <app-my-datatable [cols]="cols" [filter]="filter" [joinFilter]="pmFilter"
                              [sortConfig]="sortConfig"
                              (nextSort)="toggleSort($event)"
                              (filterChange)="onFilterChange($event)">

              <tbody rows-data>
              <ng-container *ngFor="let project of modelList; let index=index">
                <tr>
                  <!--ACTION-->
                  <td class="text-center action">
                    <div class="btn-group btn-group-sm" dropdown>
                      <button dropdownToggle type="button" class="pt-0 pb-0 btn btn-sm btn-ghost-primary dropdown-toggle">
                        Action <span class="caret"></span>
                      </button>
                      <ul *dropdownMenu class="dropdown-menu" role="menu">
                        <li role="menuitem"><a class="dropdown-item" routerLink="/projects/edit/{{project.id}}">Edit</a></li>
                        <li role="menuitem"><a class="dropdown-item" (click)="openModal(template, project.id)">Delete</a></li>
                      </ul>
                    </div>
                  </td>
                  <td *ngIf="project.assignments && project.assignments.length>0"
                      class="text-primary cursor-pointer" (click)="onToggleResource(index)">
                    {{project.no}}
                    <i class="fa fa-address-book pull-right font-sm" title="Resources"></i>
                  </td>
                  <td *ngIf="!(project.assignments && project.assignments.length>0)">{{project.no}}</td>
                  <td class="mw110 text-center">{{project.requestDate}}</td>
                  <td class="mw110 text-center">{{project.dueDate}}</td>
                  <td>{{project.dueTime}}</td>
                  <td>
                    <!--<ng-template #popTemplate>-->
                    <!--<div class="media" *ngIf="project.pm">-->
                    <!--<img *ngIf="project.pm.avatar" class="mr-3" [src]="project.pm.avatar" alt="Avatar" width="60" height="60">-->
                    <!--<img *ngIf="!project.pm.avatar" class="mr-3" src="assets/img/avatars/default_avatar.png" alt="Avatar" width="60" height="60">-->
                    <!--<div class="media-body">-->
                    <!--<h6>{{project.pm.username}}</h6>-->
                    <!--<div class="mt-0">{{project.pm.name}} ({{project.pm.code}})</div>-->
                    <!--<div class="mt-0">{{project.pm.email}}</div>-->
                    <!--</div>-->
                    <!--</div>-->
                    <!--</ng-template>-->
                    <!--<span [popover]="popTemplate" popoverTitle="PM" [outsideClick]="true" triggers="mouseenter" *ngIf="project.pm">-->
                    <!--{{project.pm.code}}-->
                    <!--</span>-->
                    {{project.pm.code}}
                  </td>
                  <td>{{project.category}}</td>
                  <td>{{project.code}}</td>
                  <td class="mw150">{{project.folderName}}</td>
                  <td class="mw150">{{project.client}}</td>
                  <td class="mw250">{{project.contents}}</td>
                  <td class="text-center">{{project.reference}}</td>
                  <td class="text-center">{{project.termbase}}</td>
                  <td class="text-center">{{project.instruction}}</td>
                  <td class="mw350">
                    {{project.remark}}
                  </td>
                  <td class="text-right">{{project.totalVolume}}</td>
                  <td>{{project.unit}}</td>
                  <td>{{project.target}}</td>
                  <td class="mw110 text-center"><span [outerHTML]="project.progressStatus | projectProgress"></span></td>
                  <td>{{project.pmVtc}}</td>
                  <td class="mw110 text-center">{{project.ho}}</td>
                  <td class="mw110 text-center">{{project.hb}}</td>
                  <!--Resources-->
                  <!--<td class="text-center">-->
                  <!--<span class="cursor-pointer" (click)="onToggleResource(index)" *ngIf="project.assignments && project.assignments.length>0">-->
                  <!--<i class="fa fa-users"></i>-->
                  <!--<span class="badge badge-default">{{project.assignments.length}}</span>-->
                  <!--</span>-->
                  <!--</td>-->
                  <td class="mw110 text-center">{{project.reviewSchedule}}</td>
                  <td class="mw110 text-center">{{project.finalDelivery}}</td>
                </tr>
                <!--ASSIGNMENT-INFO-->
                <tr *ngIf="index === activeResourceIndex">
                  <td colspan="26" class="bg-light">
                    <app-assignment-info [assignments]="project.assignments"></app-assignment-info>
                  </td>
                </tr>
              </ng-container>
              </tbody>
            </app-my-datatable>
          </div>
        </div>

        <div class="card-footer">
          <span> Total: {{totalItems}}</span>
          <div class="pull-right">
            <pagination [totalItems]="totalItems" class="pagination" *ngIf="totalItems>0"
                        [(ngModel)]="page"
                        [maxSize]="5"
                        [itemsPerPage]="size"
                        (pageChanged)="pageChanged($event)"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"
                        [boundaryLinks]="true" [rotate]="false" (numPages)="numPages = $event">
            </pagination>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #template>
  <div class="modal-body text-center">
    <p>Do you want to delete this project?</p>
    <button type="button" class="btn btn-secondary" (click)="confirm()">Yes</button>
    <button type="button" class="btn btn-primary" (click)="decline()">No</button>
  </div>
</ng-template>
