<form #f="ngForm" (ngSubmit)="onSubmit()" novalidate>
  <div class="card">
    <div class="card-header sm">
      <strong>Update Password</strong>
      <div class="pull-right">
        <button type="submit" class="btn btn-primary btn-sm" [disabled]="f.invalid || !isNewPassSame()">Save</button>
      </div>
    </div>

    <div class="card-body p-3">
      <div class="row">
        <!--PASSWORD-->
        <div class="col-sm-12">
          <div class="form-group">
            <label for="password">Current Password</label>
            <input type="password" class="form-control" id="password" [(ngModel)]="model.password" name="password">
          </div>
        </div>
        <!--NEW PASSWORD-->
        <div class="col-sm-12">
          <div class="form-group">
            <label for="passwordNew">New Password</label>
            <input type="password" class="form-control" id="passwordNew" [(ngModel)]="model.passwordNew" name="passwordNew">
          </div>
        </div>
        <!--PASSWORD-->
        <div class="col-sm-12">
          <div class="form-group">
            <label for="passwordNewConfirm">Re-enter New Password</label>
            <input type="password" class="form-control" id="passwordNewConfirm" [(ngModel)]="passwordNewConfirm" name="passwordNewConfirm">
          </div>
        </div>
      </div>
    </div>
  </div>
</form>
