@import "custom-angular";
@import "custom-theme";
@import "custom-ng-select";

.cursor-pointer {
  cursor: pointer;
}

.custom-search-input {
  min-width: 200px;
}

.download-fake-link {
  visibility: hidden;
}

table.candidates-table .ng-select.custom .ng-select-container {
  min-height: 28px !important;
  height: 28px;
}

.mw350 {
  min-width: 350px;
}

.mw250 {
  min-width: 250px;
}

.mw150 {
  min-width: 150px;
}

.mw110 {
  min-width: 110px;
}

.mh350 {
  min-height: 350px;
}

.font12 {
  font-size: 12px;
}

.one-line {
  text-overflow: ellipsis;
  white-space: nowrap;
}

table.rates-table tbody tr td:not(:first-child) {
  min-width: 150px;
  vertical-align: top !important;
}

table.rates-table {
  margin-bottom: 0;
}

.w100 {
  width: 100%;
}
